.footer {
    background-color: var(--footer-bcg);
}

.container--flex--baseline {
    align-items: baseline;
}

.address-container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 20px;
}

.logo__text--light {
    color: var(--third-color);
}

.social-list-container {
    margin-right: auto;
}
